.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.auth-form-container, .login-form, .reg-form, .collection-search {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .auth-form-container {
      padding: 5rem;
      border: 1px solid white;
      border-radius: 10px;
      margin: 0.5rem;
  }
}

.auth-form-container {
  padding: 5rem;
  border: 1px solid white;
  border-radius: 10px;
}

label{
  text-align: left;
  padding: 0.25rem 0;
}

input{
  margin: 0.5rem 0;
  padding: 1rem;
  border-radius: 10px;
}

button {
  border: none;
  background-color: grey;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.link-btn {
  background: none;
  color: maroon;
  text-decoration: underline;
}

/* .nav-bar {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  background-color: #fff;
  color: black;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
} */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; 
  width: 200px;
  background-color: #f1f1f1;
}

li {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* .nav-bar {
  height: 60px;
  width: 100%;
  align-items: center;
  position: absolute;
  padding: 0.5rem 0rem;
  background-color: #fff;
  color: black;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23)
} */


.title{
  display: flex;
}


.cards, .gallery-cards {
  text-align: center;
  margin: 1rem;
  box-shadow: 0 0 7px 0 #ddd;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px;
}

.sub-nav{
  margin: auto;
}

nav .nav-link {
  display: block;
  float: left;
  background-color: maroon;
  border: 4px solid;
}

footer {
  color: white;
}

.new-gallery-form {
  


}